<!DOCTYPE html>
<html lang="en">
<%- include('nav', {title, description, accountInfo, canonicalUrl }) %>


    <body class="bg-white">

        <div class="text-center">
            <h1 class="title"><%- mainTitle -%></h1>
            <h3 class="title-desc"><%- mainDesc -%></h3>
            <a href="/introductory-video"><button class="button-texture button-purple-color buttonpurple-hover-effect"><%-
                        mainButtonText -%></button></a>

            <!-- SUBSECTIONS -->


            <div class="subdiv" id="features">
                <h1 class="subtitle"> <%- featuretitle -%> </h1>
                <p class="subtext"><%- featuredesc -%>
                        <div class="featcontainer">
                            <div
                                class="feature-icondiv button-purple-color buttonpurple-hover-effect widthfix textcenter">
                                <%- feature1fontawesome -%> <span><%- feature1title -%></span>
                            </div><br><br>
                            <div
                                class="feature-icondiv button-purple-color buttonpurple-hover-effect widthfix textcenter">
                                <%- feature2fontawesome -%> <span><%- feature2title -%></span>
                            </div><br><br>
                            <div
                                class="feature-icondiv button-purple-color buttonpurple-hover-effect widthfix textcenter">
                                <%- feature3fontawesome -%> <span><%- feature3title -%></span>
                            </div>
                </p>
            </div>
        </div>


        <div class="subdiv" id="courses">
            <h1 class="title"><%- coursestitle -%></h1>
            <p class="title-desc"><%- coursesdesc -%></p>


            <!-- <div class="view-container">
                <div class="view inline-view">
                    <div class="view-content">
                        <h1 class="subtitle"><%- course1title -%></h1>
                        <p class="subtext"><%- course1description -%></p>
                        <button class="view-button button-purple-color buttonpurple-hover-effect">View Now</button>
                    </div>
                </div>

                <div class="view inline-view">
                    <div class="view-content">
                        <h1 class="subtitle"><%- course2title -%></h1>
                        <p class="subtext"><%- course2description -%></p>
                        <button class="view-button button-purple-color buttonpurple-hover-effect">View Now</button>
                    </div>
                </div>

                <div class="view inline-view">
                    <div class="view-content">
                        <h1 class="subtitle"><%- course3title -%></h1>
                        <p class="subtext"><%- course3description -%></p>
                        <button class="view-button button-purple-color buttonpurple-hover-effect">View Now</button>
                    </div>
                </div>

                <div class="view inline-view">
                    <div class="view-content">
                        <h1 class="subtitle"><%- course4title -%></h1>
                        <p class="subtext"><%- course4description -%></p>
                        <button class="view-button button-purple-color buttonpurple-hover-effect">View Now</button>
                    </div>
                </div>

                <div class="view inline-view">
                    <div class="view-content">
                        <h1 class="subtitle"><%- course5title -%></h1>
                        <p class="subtext"><%- course5description -%></p>
                        <button class="view-button button-purple-color buttonpurple-hover-effect">View Now</button>
                    </div>
                </div>
             -->

             <div class="view inline-view">
                <div class="view-content">
                    <h1 class="subtitle">We're sorry!</h1>
                    <p class="subtext">Courses are not released yet to the public.</p>
                </div>
            </div>

            </div>
        </div>


    </body>

</html>