<!DOCTYPE html>
<html lang="en">
    <%- include('nav', { title: "Manage your Club", description:"Manage your club on the Ohio Chess Club."} ) %>


    <body class="bg-white">
        <div class="text-center">
            <h1 class="title">Club Management Dashboard</h1>
            <h3 class="title-desc">Here you can change everything about your club.</h3>
            <a href="#getstarted"><button class="button-texture button-purple-color buttonpurple-hover-effect">Get
                    Started
                    Now</button></a>

            <!-- SUBSECTIONS -->
            <div class="subdiv" id="getstarted">
                <h1 class="subtitle">Update your club information.</h1>
                <h2>Club Name: <%- clubName -%></h2>
                <h2>Club Owner Name: <%- clubOwnerName -%></h2>
                <h2>Club Description: <%- clubDescription -%></h2>
                <h2>Owner Email: <%- ownerEmail -%></h2>
                <div class="featcontainer">
                    <div id="createclub">
                        <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                            <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                            <% } %>
                                <div class="gridItem">
                                    <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                                        <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                                        <% } %>
                                            <h1 class="subtitle">Basic Info</h1>
                                            <form action="/updateBasicInfo" method="POST" class="login-form">
                                                <input type="text" name="clubName" placeholder="Club Name"
                                                    class="login-input" /><br />
                                                <input type="text" name="clubOwnerName" placeholder="Club Owner Name"
                                                    class="login-input" /><br />
                                                <input type="text" name="clubDescription" placeholder="Club Description"
                                                    class="login-input" /><br />
                                                <!-- <input type="text" name="ownerEmail" placeholder="Club Owner Email (This site)" class="login-input" /> <br /> -->
                                                <button type="submit"
                                                    class="button-texture button-purple-color buttonpurple-hover-effect">Update
                                                    Info</button>
                                            </form>
                                </div>
                    </div>
                    <div id="createclub">
                        <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                            <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                            <% } %>
                                <div class="gridItem">
                                    <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                                        <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                                        <% } %>
                                            <h1 class="subtitle">Delete Post</h1>
                                            <form action="/deletePost" method="POST" class="login-form">
                                                <input type="number" placeholder="Post Id" class="login-input" /><br />
                                                <p><a id="post-id-link">Where is the post id?</a></p>
                                                <button type="submit"
                                                    class="button-texture button-purple-color buttonpurple-hover-effect">Delete
                                                    Post</button>
                                            </form>
                                </div>
                    </div>
                    <div id="createclub">
                        <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                            <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                            <% } %>
                    </div>
                    <div id="createclub">
                        <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                            <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                            <% } %>
                                <div class="gridItem">
                                    <% if (typeof actionError !=='undefined' && actionError !==null) { %>
                                        <a href="#" style="color: red;">ERROR: <%- actionError -%></a>
                                        <% } %>
                                            <h1 class="subtitle">Create Post</h1>
                                            <form action="/createClubPost" method="POST" class="login-form"
                                                id="access-form">
                                                <textarea placeholder="Post Content"
                                                    class="login-input"></textarea><br />
                                                <button id="remove-access"
                                                    class="button-texture button-purple-color buttonpurple-hover-effect">Create
                                                    Post</button>
                                            </form>

                                </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </body>
    <!-- GRANT/REMOVE SCRIPT -->
    <script>
        var formElement = document.getElementById('access-form');
        var grantButton = document.getElementById('grant-access');
        var removeButton = document.getElementById('remove-access');

        grantButton.addEventListener('click', function () {
            formElement.action = "/grantClubAccess";
            formElement.submit();
        })
        removeButton.addEventListener('click', function () {
            formElement.action = "/removeClubAccess";
            formElement.submit();
        })
    </script>


</html>